.cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
    grid-template-rows: auto auto;
    background-color: #2196;
    padding: 10px;
    resize: both;
    overflow: auto;
}

.card {
    background-color: #2196;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    margin: 10px;
    justify-content: space-between;

}

img {
    height: 350px;
}

.card-text {
    color: #fff;
    text-align: center;
}

.card-text a {
    color: #00FF66;
    border: 2px solid rgba(0, 0, 0, 0.8);
    border-radius: 1rem;
    padding: 5px;
    background-color: black;
}

.card-text a:hover {
    background-color: #00FF66;
    color: black;
}