.homeContainer {
  background-image: linear-gradient(#0bd1ff, #ffa3ff, #ffd34e);
  height: 100vh;
  min-height: 100vh;
}

.banner {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  position: relative;
  background-size: cover;
  background-image: linear-gradient(#0bd1ff, #ffa3ff, #ffd34e);
  text-align: center;
  margin-bottom: 25px;
}



h1 {
  padding-top: 2rem;
  padding-bottom: 1.25rem;
  font-family: "Creepster", cursive;
  font-size: 6rem;
  color: rgba(0, 0, 0, 0.7);
}

.banner p {
  color: white;
  line-height: 1.5;
  font-size: 2rem;
  text-align: center;
}