.footer {
    position: sticky;  
    text-align: center;
    background-image: linear-gradient(#0bd1ff, #ffa3ff, #ffd34e); 

}

a.icon {
    margin: 20px;
    height: 100px;
    width: 50px;
}



svg {
    height: 50px;
    width: 50px;

}



/* py: 3,
px: 2,
mt: "auto",
minHeight: "30px",
textAlign: "center",
backgroundColor: "#010c3f", */